<!-- messenger_app/templates/send_message.html -->
{% extends 'base_generic.html' %}
{% load static %}

{% block title %}Отправить сообщение{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

  <div class="container">
    <h2>Отправить сообщение пользователю {{ recipient.username }}</h2>
    <form method="post">
      {% csrf_token %}
      <label for="content">Сообщение:</label>
      <textarea id="content" name="content" rows="4" cols="50" required></textarea>
      <br>
      <button type="submit">Отправить</button>
    </form>
  </div>
{% endblock %}
